<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sickluded">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SymptomsActivity"></activity>

        <service
            android:name=".NearbyMessageService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyD7n7fdKM6nYL81aD3FKriOmszS2uJms9U" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Places_Key" />

        <activity android:name=".SettingsActivity" />
        <activity android:name=".changeEmail" />
        <activity android:name=".changeUsername" />
        <activity android:name=".forgotPassword">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lamp.ms.wits.ac.za"
                    android:pathPrefix="/home/s2090704/ResetPasswordRedirect.php"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".DiagnosisActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true" />
    </application>

</manifest>